# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\nikla\OneDrive - Otto-Hahn-Gymnasium Ostfildern\Persoenlich\Development\IdeaProjects\MinecraftChess\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
